doctype html
html(lang="ru-RU")
  include common/_head
  include common/_mixins
  body.body--admin

    //- include common/_preloader
    include common/_ie
    .admin__bg
    .admin__content
      .admin__header
        h1.admin-h1 Панель администрирования
        .admin-back
          a(href="/").admin-back__link Вернуться на сайт

      .admin__menu

        .admin__menu-item(data-link="tab1").active Tab 1
        .admin__menu-item(data-link="tab2") Tab 2
        .admin__menu-item(data-link="tab3") Tab 3

      .admin__tabs

        .admin__tab#tab1.active

          form.form.form--edit-skills(method="post")
            h2.admin-h2 Страница &laquo;Обо мне&raquo;

            if ( skills)
              each group, i in skills
                h3.admin-h3 #{group.name}
                div(class="skills-group" data-title=group.id)
                  if ( group.items )
                    each title, id in group.items
                      label= title
                        if ( !form )
                          input(type="text", id="", name=id, value="50")
                          | %
                        else 
                          each formgroup, formi in form
                            each formvalue, formid in formgroup
                              if (formid == id)
                                input(type="text", id="", name=id, value=formvalue)
                                | %
              


            button#edit-skills-btn(type="submit") Сохранить
          
        .admin__tab#tab2

          form.form.form--add-blog(method="post")
            h2.admin-h2 Страница &laquo;Блог&raquo;
            h3.admin-h3 Добавить запись
            input(type="text" name="itemName" placeholder="Название")
            input(type="date" name="itemDate" id="datePicker" placeholder="Дата")
            textarea(name="itemBody" cols="30", rows="10" placeholder="Содержание")
            button#add-blog-btn(type="submit") Добавить


        .admin__tab#tab3

          form.form.add-work(method="post")
            h2.admin-h2 Страница &laquo;Мои работы&raquo;
            h3.admin-h3 Добавить работу
            input(type="text" id="work-title" placeholder="Название проекта")
            input(type="text" id="work-techs" placeholder="Технологии")
            input(type="text" name="workLink" placeholder="Ссылка на проект")
            label.upload-label Загрузить картинку
              input(type="file", id="work-file" name="")
            input(type="submit" value="Добавить")

      .admin__wrapper


    include common/_modal