doctype html
html(lang="ru-RU")
  include common/_head
  include common/_mixins
  body

    //- include common/_preloader
    include common/_ie
  
    .admin__header
      h1.admin-h1 Панель администрирования
      .come-back
        a(href="/index.html").come-back__link Вернуться на сайт

    .admin__menu

      .admin__menu-item Tab 1
        
      button.admin__menu-item#js-get-admin-about Tab 2
        
      .admin__menu-item Tab 3

    .admin__tabs

      .admin__tab

        form.form.form--edit-skills(method="post")
          h2.admin-h2 Страница "Обо мне"

          if ( skills)
            each group, i in skills
              h3.admin-h3 #{group.name}
              div(class="skills-group" data-title=group.id)
                if ( group.items )
                  each title, id in group.items
                    br
                    label= title
                      if ( !form )
                        input(type="text", id="", name=id, value="50")
                        | %
                      else 
                        each formgroup, formi in form
                          each formvalue, formid in formgroup
                            if (formid == id)
                              input(type="text", id="", name=id, value=formvalue)
                              | %
            


          button#edit-skills-btn(type="submit") Сохранить
        
      .admin__tab

        form.form.form--add-blog(method="post")
          h2.admin-h2 Страница "Блог"
          h3.admin-h3 добавить запись
          input(type="text" name="itemName" placeholder="Название")
          br
          input(type="date" name="itemDate" id="datePicker" placeholder="Дата")
          br
          textarea(name="itemBody" cols="30", rows="10" placeholder="Содержание")
          br
          button#add-blog-btn(type="submit") Добавить


      .admin__tab

        form.form.add-work(method="post")
          h2.admin-h2 Страница "Мои работы"
          h3.admin-h3 добавить работу
          input(type="text" id="work-title" placeholder="Название проекта")
          br
          input(type="text" id="work-techs" placeholder="Технологии")
          br
          label Загрузить картинку
            input(type="file", id="work-file" name="")
          br
          input(type="submit" value="Добавить")

    .admin__wrapper


    include common/_modal