extends ../main-blog.jade
block prepend body
  body.body--blog
block title
   title Блог. Статьи, которые я написала

block avatar-text
  .avatar-text.avatar-text--white
    .avatar-text__title Блог
    .avatar-text__text Статьи, которые я написала
    
block content
  .blog__articles
    div.items .items #{items[0].title}
    div.items .items #{items[0].body}
    div.items .items #{items[0].date}
    div.items .items #{items.title}
    div.items .items #{items.body}
    div.items .items #{items.date}
    +blogArticles("articles", blogArticles)


block menu 
  .blog__blog-nav
    +blogMenu("blog-nav", blogArticles)