extends ../main-blog.jade
block prepend body
  body.body--blog
block title
   title Блог. Статьи, которые я написала

block avatar-text
  .avatar-text.avatar-text--white
    .avatar-text__title Блог
    .avatar-text__text Статьи, которые я написала
    
block content
  .blog__articles
    if ( items )
      each item, ndx in items
        article(class="articles__item" data-article="article#{ndx}")
          h2(class="articles__title")= item.title
          div(class="articles__date")= item.date
          div(class="articles__text")= item.body
    else
      .blog__error Здесь пока нет ни одной статьи

block menu 
  .blog__blog-nav
    ul(class="blog-nav__list")
      if ( items )
        each item, ndx in items
          if (ndx == 1)
            - var active = 'active'
          else
            - var active = ''
          li(class="blog-nav__item  #{active}")
            a(href="#article#{ndx}" class="blog-nav__link")= item.title
      else
        .blog__error Здесь пока нет ни одной статьи